body{
    background-color: rgb(108, 62, 101);
}
.container{
    display: grid;
    height:700px;
    width: 100%;
    /* grid-template-columns: 200px 300px auto auto; */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color: rgb(33, 64, 98);
    border: 2px solid red;
}
.row1,.row2,.row3,.row4{
    border:2px dotted rgb(8, 218, 8);
}
.row1{
    /* grid-column-start: 1;
    grid-column-end: 7; */
    grid-column: 1/13;
    /* grid-row-start: 4;
    grid-row-end: 5; */
    grid-column: 1/13;
    grid-row: 1/2;
    background-color: black;
    color: rgb(240, 248, 255);
    height: 80 px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.row2{
    grid-column: 1/13;
    grid-row:2/3;
    background-color: rgb(54, 46, 66);
    height: 70px;
    border: 1px solid white;
    color: aliceblue;
    display: flex;
}
ul li{
    list-style: none;
    display: inline;
    padding: 20px;
}
li:hover{
background-color: rgb(226, 141, 43);
}